* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrapper {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.wrapper .main {
  width: 930px;
  height: 65rem;
  padding: 20px 25px;
  border-radius: 0 12px 12px 0;
  background: rgba(255, 255, 255, 0.9);
}
.wrapper .main nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main nav .form {
  width: 100%;
  display: flex;
}
.wrapper .main nav .form input {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
  padding: 5px;
}
.wrapper .main nav .form .btn {
  width: 50px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.wrapper main .cards {
  margin-top: 25px;
  height: 345px;
}
.wrapper main .cards .card {
  width: 100%;
  height: 345px;
  border-radius: 20px;
  color: #1a1a1a;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper main .cards .card img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.wrapper main .cards .card h2 {
  font-size: 15px;
  font-weight: 600;
}
.wrapper main .cards .card .card-icon {
  width: 50%;
  margin: 0 auto;
}
.wrapper main .cards .card .card-icon img {
  width: 100%;
}
.wrapper main .cards .card .day-temp {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardHeader {
  width: 100%;
}
.cardHeader .degree-today {
  width: 100%;
  border-radius: 20px;
  color: #1a1a1a;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardHeader .degree-today .degree {
  font-size: 40px;
  font-weight: 400;
}
.cardHeader .degree-today .today {
  margin-top: 10px;
  margin-bottom: 18px;
}
.cardHeader .degree-today .cloud {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.cardHeader .location {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

.main {
  position: relative;
}
.main .highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.main .highlights .heading {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.main .highlights .cards {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.main .highlights .card2 {
  width: 275px;
  height: 150px;
  border-radius: 20px;
  color: #1a1a1a;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.main .highlights .card2 .content {
  display: flex;
}
.main .highlights .card2 .content .cont {
  display: flex;
  align-items: center;
}
.main .highlights .card2 .content #icon2 {
  width: 60px;
}
.main .highlights .card2 .card-heading {
  color: #c2c2c2;
}
.main .highlights .card2 .content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.main .highlights .card2 .content p {
  text-align: justify;
}

.temp {
  display: flex;
  align-items: center;
}
.temp span {
  font-size: 40px;
}

.credits {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #221f1f;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.perc {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (max-width: 767px) {
  .wrapper .main {
    height: 92rem;
  }
  .degree-today {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */